<div>
    <h1>カテゴリーページ</h1>
    <h1><%= category %></h1>
</div>

<div>
    <a href="<%= category %>/new">
        <h2>スレッドを立てる</h2>
    </a>

    <% threads.forEach(thread => { %>
        <div>
            <a href="/<%= category %>/<%= thread.title%>">
                <h3><%= thread.title %></h3>
            </a>
        </div>
    <% })%>
</div>